@charset "utf-8";
/* CSS Document */
.product {
	position: absolute;
	left: 165px;
	top: 100px;
	border: #999;
	border: solid;
	border-width: 1px;
	width: 200px;
}
#F4 {
	color: #FFF;
	background-color: #039;
}
.listtwo {
	display: inline-block;
}
.listone ul:nth-child(2) {
	float: right;
	width: 100px;
}
.listone ul:nth-child(1) {
}
.productone ul li {
	color: #333;
	padding-top: 6px;
	font-size: 15px;
}
.listtwo li {
	padding-left: 14px;
}
.listthree li {
	padding-right: 10px;
}
.title {
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
	padding-left: 10px;
	padding-top: 4px;
}
.myhr {
	padding-left: 14px;
	padding-top: 4px;
}
.advertisement {
	width: 550px;
	height: 320px;
	position: absolute;
	left: 375px;
	top: 103px;
	overflow: hidden;
	background-color: #333;
}
.advertisementtext {
	width: 550px;
	position: absolute;
	left: 0px;
	top: 270px;
	height: 84px;
}
.ultext li {
	opacity: 0.7;
	background-color: #000000;
	color: #FFC;
	height: 45px;
	width: 108px;
	margin: -1px;
	display: inline-block;
	margin-top: 5px;
	overflow: hidden;
	text-align: center;
}
.logtwo {
	position: absolute;
	width: 230px;
	height: 320px;
	left: 935px;
	top: 103px;
}
.logtwo ul li {
	margin-top: 3px;
	font-size: 13px;
}
.logtwo div:nth-child(2) {
	border:#666;
	border: solid;
	border-width: 0.3px;
}
.partthree{
	position:absolute;
	left:375px;
	top:440px;
	width:790px;
}
.partthree div{
	display:inline-block;
}
.partthree h3{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
}
.partthree div:nth-child(2){
	float:right;
}
.partthree div:nth-child(1){
	height:30px;
}
.partthree ul li {
	display:inline-block;
	background-color:#CCC;
	height:25px;
	width:50px;
	margin-left:10px;
	text-align:center;
    font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	margin:0px;
}
.partul{
	float:right;
}
.partthreeimage{
	position:absolute;
	top:39px;
	left:0px;
}
.partthree div:nth-child(3){
	border:solid;
	border-width:1px;
	border-color:#CCC;
}
.partthree div:nth-child(3) a{
	margin-left:10px;
}
.partthreetext {
	position:absolute;
	top:618px;
	left:365px;
}
.partthreetext ul li{
	display:inline-block;
	text-align:center;
	margin:9px;
	width:180px;
	background-color:#CCC;
	opacity:0.7;
}